.dropbox
/*/*/*.mp4
/*/*/*.svg
/*/*/*.eps
/*/*/*.png
/*/*/.ipynb_checkpoints/*
/*/*/*/.ipynb_checkpoints/*
/*/*/x86_64/*
/*/*/*/x86_64/*
figs/
latex/
/results/07/plots
/results/07/anim
/results/misc
/first-submission
/resubmission
*.doc
*.docx
*.pages
