.dropbox
/*/*/*.mp4
/*/*/*.svg
/*/*/*.eps
/*/*/*.png
/*/*/.ipynb_checkpoints/*
/*/*/*/.ipynb_checkpoints/*
/*/*/x86_64/*
/*/*/*/x86_64/*
figs/
latex/
/results/08/plots
/results/08/anim
/results/misc
/first-submission
/second-submission
/final-submission
*.doc
*.docx
*.pages
